@page
@model tbkkData.Pages.ResultHalf.SafetysModel

@{
    ViewData["Title"] = "Safetys";
}

<script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
</script>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="alert alert-dark text-md-center font-weight-bold" role="alert">Safetys</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management Cockpit</li>
            <li class="breadcrumb-item active">Safetys</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table"> Safetys</i>
                    <div style="float: right">
                        <a asp-page="CreateSafetys" class="btn btn-success btn-sm float-right">Create Safetys</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>Date Incident</th>
                                <th>Incident</th>
                                <th>Total Incident</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Safety)
                            {
                                <tr class="text-center">
                                    <th>@Html.DisplayFor(modelItem => item.DateIncident)</th>
                                    <th> @Html.DisplayFor(modelItem => item.incident)</th>
                                    <th> @Html.DisplayFor(modelItem => item.Total_Incident)</th>
                                    <td>
                                        <a asp-page="./EditSafetys" asp-route-id="@item.SafetyID" class="btn btn-outline-warning btn-sm">Edit</a>
                                        <a asp-page="./DeleteSafetys" asp-route-id="@item.SafetyID" class="btn btn-outline-danger btn-sm">Delete</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




