@page
@model tbkkData.Pages.EmployeePerformence.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
</script>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="alert alert-dark text-md-center font-weight-bold" role="alert">Employee Performence</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management Cockpit</li>
            <li class="breadcrumb-item active">Employee Performence</li>
        </ol>
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table">  Employee Performence</i>
                    <div style="float: right">
                        <a asp-page="Create" type="button" class="btn btn-success btn-sm ">Create Employee</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3">
                        <thead>
                            <tr class="text-center">
                                <th>@Html.DisplayNameFor(model => model.Employee[0].EmployeeID)</th>
                                <th>@Html.DisplayNameFor(model => model.Employee[0].FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.Employee[0].LastName)</th>
                                <th>@Html.DisplayNameFor(model => model.Employee[0].Address)</th>
                                <th>@Html.DisplayNameFor(model => model.Employee[0].Telephone)</th>
                                <th>@Html.DisplayNameFor(model => model.Employee[0].Email)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach (var item in Model.Employee)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.EmployeeID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Telephone)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>
                                        <a asp-page="./Details" class="btn btn-outline-primary btn-sm" asp-route-id="@item.EmployeeID">Detail</a>
                                        <a asp-page="./Edit" class="btn  btn-outline-warning btn-sm" asp-route-id="@item.EmployeeID">Edit</a>
                                        <a asp-page="./Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.EmployeeID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


