@page
@model tbkkData.Pages.SalesDepartment.CreateOrderModel

@{
    ViewData["Title"] = "CreateOrder";
}

<script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
</script>

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="alert alert-dark text-md-center font-weight-bold" role="alert">Create Order</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management Cockpit</li>
            <li class="breadcrumb-item active">Sales Department</li>
            <li class="breadcrumb-item active">Detail Customer</li>
            <li class="breadcrumb-item active">Create Order</li>
        </ol>
        <div class="card ">
            <div class="card-body ">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="col">
                            <label asp-for="Order.OrDate" class="control-label"></label>
                            <input asp-for="Order.OrDate" class="form-control" />
                            <span asp-validation-for="Order.OrDate" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Order.ShippedDate" class="control-label"></label>
                            <input asp-for="Order.ShippedDate" class="form-control" />
                            <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
                        </div>

                    </div>
                    <br />

                    <div class="row">
                        <div hidden class="col">
                            <label asp-for="Order.Invoice" class="control-label"></label>
                            <input asp-for="Order.Invoice" class="form-control" />
                            <span asp-validation-for="Order.Invoice" class="text-danger"></span>
                        </div>
                        <div hidden class="col">
                            <label asp-for="Order.Status" class="control-label"></label>
                            <input asp-for="Order.Status" class="form-control" value="Complete" />
                            <span asp-validation-for="Order.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div  class="row">
                        <div hidden class="col">
                            <label asp-for="Order.Total" class="control-label"></label>
                            <input asp-for="Order.Total" class="form-control" value=0 />
                            <span asp-validation-for="Order.Total" class="text-danger"></span>
                        </div>

                        <div class="col">
                        <label asp-for="Order.Employee" class="control-label"></label>
                        <select asp-for="Order.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                            </div>
                    </div>
                    <br />

                    <div class="row">
                        <div hidden class="col">
                            <label asp-for="Order.Customer" class="control-label"></label>
                            <input hidden asp-for="Order.CustomerID" class="form-control" value="@Model.Order.OrderID" />
                            <label class="col-sm-3 col-form-label">@Model.Order.OrderID</label>
                        </div>
                    </div>
                    <br />

                    <div style="text-align:center">
                        <button type="submit" value="Create" class="btn btn-default btn-success "> Create </button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Order.OrDate" class="control-label"></label>
                    <input asp-for="Order.OrDate" class="form-control" />
                    <span asp-validation-for="Order.OrDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order.ShippedDate" class="control-label"></label>
                    <input asp-for="Order.ShippedDate" class="form-control" />
                    <span asp-validation-for="Order.ShippedDate" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="Order.Invoice" class="control-label"></label>
                    <input asp-for="Order.Invoice" class="form-control" />
                    <span asp-validation-for="Order.Invoice" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="Order.Status" class="control-label"></label>
                    <input asp-for="Order.Status" class="form-control" value="Complete" />
                    <span asp-validation-for="Order.Status" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="Order.Total" class="control-label"></label>
                    <input asp-for="Order.Total" class="form-control" value=0 />
                    <span asp-validation-for="Order.Total" class="text-danger"></span>
                </div>
                <div hidden class="form-group">
                    <label asp-for="Order.Customer" class="control-label"></label>
                    <input hidden asp-for="Order.CustomerID" class="form-control" value="@Model.Order.OrderID" />
                    <label class="col-sm-3 col-form-label">@Model.Order.OrderID</label>
                </div>

                <div class="form-group">
                    <label asp-for="Order.Employee" class="control-label"></label>
                    <select asp-for="Order.EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID" ></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
