@page
@model tbkkData.Pages.Rivals.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
</script>

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="alert alert-dark text-md-center font-weight-bold" role="alert">Delete Rival</div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Management Cockpit</li>
            <li class="breadcrumb-item active">Rival</li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
        <div class="card">
            <br />
            <p class="text-center text-danger">Are you sure you want to delete this?</p>
            <hr />
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <p class="text-center">@Html.DisplayNameFor(model => model.Rival.Name): @Html.DisplayFor(model => model.Rival.Name)</p>
                            <p class="text-center"> @Html.DisplayNameFor(model => model.Rival.Email): @Html.DisplayFor(model => model.Rival.Email)</p>
                        </div>
                        <div class="col">
                            <p> @Html.DisplayNameFor(model => model.Rival.Address) : @Html.DisplayFor(model => model.Rival.Address)</p>
                            <p>@Html.DisplayNameFor(model => model.Rival.Telephone) : @Html.DisplayFor(model => model.Rival.Telephone)</p>
                        </div>
                    </div>
                </form>

                <form method="post">
                    <input type="hidden" asp-for="Rival.RivaID" />
                    <div style="text-align:center">
                        <button type="submit" value="Delete" class="btn btn-danger btn-sm ">Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</div>
