@page
@model tbkkData.Pages.Rivals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

    <script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
    </script>


<h2>Details</h2>

    <div>
        <h4>Rival</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rival.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rival.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rival.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rival.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rival.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rival.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rival.Telephone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rival.Telephone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Rival.RivaID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
